#sigma-container {
	margin: auto;
	margin-top: 16px;
	margin-bottom:6px;
	max-width: 1600px;
	height: 800px;
	border: solid 3px; 
	background: #000;
}

#created-by{
	text-align: right;
	font-size: 14px;	
}

#buttons{
	margin-bottom: 8px;
	float: right;
}

.btn{
	margin-right: 3px;
}

.rogo{
	float:right;
	width: 160px;
	padding-top: 8px;
	padding-bottom: 4px;
}

#sigma-container-left{
	margin: auto;
	margin-top: 16px;
	margin-bottom:6px;
	width: 560px;
	height: 800px;
	border: solid 3px; 
	background: #000;
	float: left;
}
#sigma-container-right{
	margin: auto;
	margin-top: 16px;
	margin-bottom:6px;
	width: 560px;
	height: 800px;
	border: solid 3px; 
	background: #000;
	float: right;
}